//botones seccion header y perfil autora
.perfil__boton--1{
  background-color: $aqua;
  color: $white;
  border: none;
  padding: 2px;
  height: 40px;
  width: 80px;

}
.perfil__boton--2{
  background-color: $watermln;
  color: $white;
  border: none;
  height: 40px;
  width: 80px;

}
