//colores a usar
$white: #ffffff;
$black: #000000;
$aqua: aquamarine;
$watermln: #bf282f;
$gray: gray;


//tamaño de letras
$large:35px;
$medium:23px;
$small: 16px;


//grosor letras
$bold: bold;
$regular: 200;
